body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #000033;
  position: absolute;
  bottom: 0;
  left: 800px;
  top: 400px;
  overflow: hidden;
}
